* {
  box-sizing: border-box;
}

body {
  color: #444;
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited, a:hover, a:active {
  color: #3574d4;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  display: block;
  padding: 20px;
}

pre {
  font-size: 12.5px;
}

p > code, li > code {
  background: lightgrey;
  color: white;
  padding: 2px;
}

li {
  margin: 5px 0;
}