#header {
  vertical-align: top;
  width: 20%;
  display: inline-block;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  line-height: 20px;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  line-height: 20px;
}

#nav a, #nav a:visited {
  color: #3574d4;
}