#posts {
  list-style: none;
  padding: 0 20px;
}

#pub, #title {
  line-height: 100px;
  display: inline-block;
  margin: 0;
}

#pub {
  float: right;
  font-weight: bold;
}

#posts li {
  font-size: 14px;
  position: relative;
  height: 100px;
  padding: 0 20px;
}

#posts li:hover {
  /* background: #fff6e5; */
}

#posts li:not(:last-child):after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  z-index: -1;
  border-top: 1px solid #e1e1e1;
}