#posts {
  list-style: none;
  padding: 0;

  a, a:visited, a:hover, a:active {
    color: #444;
  }
}

#pub {
  font-weight: bold;
  color: #9A9A9A;
}

#posts li {
  position: relative;
  min-height: 100px;
  font-size: 14px;
  padding: 20px 0;
  h1 {
    margin: 10px 0;
    font-size: 2vw;
    @media only screen and (max-width: 925px) {
      font-size: 3vw;
    }
  }
}

#posts li:not(:last-child):after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  z-index: -1;
  border-top: 1px solid #e1e1e1;
}